<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 2</title>
    <!--- Länk till css-fil -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Moment 2</h1>

</body>
</html>